* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "montserrat",sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
.header{
    height: 100px;
    background:#34495e;
    padding: 0 20px;
    color: #fff;
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
}
.header .logo {
    line-height: 100px;
    float: left;

}
.header .menu {
    float: right;
    line-height: 100px;
}

.header .menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: .4s;
}

.show-menu-btn,.hide-menu-btn {
    transition: .4s;
    cursor: pointer;
    font-size: 30px;
    display: none;
}
.header .show-menu-btn{
    float: right;
    line-height: 100px;
    
}
.header .menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #3498db;
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: -111;
}


@media screen and (max-width:800px){
    .show-menu-btn,.hide-menu-btn {
        display: block;
    }
    .header .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        top:0px;
        right: -100%;
        text-align: center;
        line-height: normal;
        padding: 80px 0px;
        transition: .7s;
    }
    .header .menu a{
        display: block;
        padding: 20px;
        width: 100%;
    }
    .header .menu a:hover{
        background-color: rgb(71, 71, 71);
    }

    .header .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu{
        right: 0;
    }
    div.content{
        display: block;
    }
    .big, .small {
        margin: auto;
        width: 100%;
    }
}




.content {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 90px;
}
.big {
    width: 75%;
    padding-right: 40px;
}
.slide {
    height: 400px;
}
.title{
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 90;
    background-color: yellowgreen;
    height: 30px;
    padding: 6px 0 0 10px;
}
.title a {
    
    font-size: 20px;
}
.content .menu{
    float: right;
    list-style: none;
    display: block;
    padding: 0px 0 20px 0;

}
.content .menu ul {
    padding-top: 0;
}
.content .menu li{
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    
}
hr{
    border: none;
    padding: 0;
    margin: 0;
    background-color: yellowgreen;;
    height: 2px;
    margin-bottom: 20px;
    width: 100%;
}
.content .menu li a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    color: black;
}
.mainrow {
    display: flex;
    clear: right;
    width: 100%;
}
.card {
    width: 50%;
}
.card2 {
    margin-left: 100px;
}
.card h3 {
    color: black;
    font-size: 21px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}
.card .about {
    display: flex;
    margin: 5px 0px 10px 0px;
}
.card img {
    width: 100%;
    height: auto;
}
.card .about >*{
    padding-right: 15px;
} 
.row {
    padding-top: 30px;
    display: flex;
    padding-bottom: 30px;
    width: 100%;
}
.card1 {
    display: flex;
    width: 100%;
    height: 80px;
}
.card1 img {
    width: 30%;
}
.card1 a {
    color: black;
}
.card1 .about {
    margin-left: 20px;
}
.card1 .about .date {
    margin-top: 20px;
}

.small {
    width: 25%;
    margin-top: 100px;
}