body,html {
    padding: 0;
    border: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.navbar {
    box-shadow: ;
}
.left {
    background-color: rgb(230, 107, 107);
    min-height: 80px;
    width: 15%;
    line-height: 90px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
}
.left a {
    display: inline;
    color: white;
}
.right {
    background-color: rgba(21, 26, 44, 1);
    position: fixed;
    top: 0px;
    right: 0px;
    width: 85%;
    min-height: 80px;
    line-height: 90px;
}
li:last-child{
    margin-right: 15px;
}
ul {
    padding: 0;
    border: 0;
    margin: 0;
    list-style: none;
    float: right;
}
ul li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}